@import "@/styles/theme.module.scss";

.main {
	background-color: var(--background-color);
	width: 100%;
	min-height: 100vh;
}

.heroContainer {
	background-color: var(--secondary-background-color);
	border-radius: 0;
	clip-path: polygon(0 0, 100% 0, 100% 95%, 95% 100%, 0 100%);

	@media (min-width: 768px) {
		clip-path: polygon(0 0, 100% 0, 100% 93%, 98% 100%, 0 100%);
	}

	@media (min-width: 1200px) {
		clip-path: polygon(0 0, 100% 0, 100% 92%, 98% 100%, 0 100%);
	}
}

.hero {
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	width: auto;
	margin: auto;

	@media (min-width: 768px) {
		flex-direction: row;
		gap: 1rem;
		height: 278px;
	}

	@media (min-width: 1200px) {
		width: 960px;
		height: 320px;
		margin: auto;
	}
}

.heroImage {
	width: 100%;

	@media (min-width: 768px) {
		width: 278px;
		height: 278px;
	}

	@media (min-width: 1200px) {
		width: 320px;
		height: 320px;
	}
}

.heroText {
	max-width: 600px;
	margin: 0 1rem 1rem;

	.heroTitle {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h1 {
			color: var(--secondary-text-color);
		}

		.buttonWrapper {
			margin-top: 1.8rem;
		}
	}

	p {
		font-size: 1rem;
		color: var(--secondary-text-color);
	}
}

.comicsSection {
	width: auto;
	margin: auto;
	padding: 0 1rem;

	@media (min-width: 768px) {
		padding: 0 3rem;
	}

	@media (min-width: 1200px) {
		width: 960px;
	}
}

.comicsGrid {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	width: auto;
	white-space: nowrap;
	margin: 1rem 0;
}