:root {
    --primary-color: #ec1d24;
    --secondary-color: #000000;
    --text-color: #000000;
    --primary-text-color: #ec1d24;
    --secondary-text-color: #ffffff;
    --background-color: #ffffff;
    --secondary-background-color: #000000;
    --font-family: "Arial", sans-serif;
    --header-height: 60px;
}