.container {
	width: 100%;
	margin: 1rem 0 2rem;

	@media (min-width: 768px) {
		margin: 2rem 0;
	}

	input {
		width: 100%;
		border-top: none;
		border-right: none;
		border-left: none;
		border-radius: initial;
		border-color: var(--primary-color);
	}

	.resultsCount {
		margin-top: 1rem;
		margin-left: 0.5rem;
	}
}