.header {
	height: 60px;
	background-color: var(--secondary-background-color);
	color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;

	@media (min-width: 768px) {
		padding: 1rem 3rem;
	}

	@media (min-width: 1200px) {
		padding: 1rem 6rem;
	}
}

.logoContainer {
	display: flex;
	align-items: center;
}

.logoContainer img {
	width: auto;
}

.nav {
	width: auto;
}

.nav a {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	color: var(--secondary-text-color);
	text-decoration: none;
	font-weight: 500;
	transition: color 0.3s ease;
}

.nav a:hover {
	color: var(--primary-color);
	text-decoration: none;
}